# Byte-compiled / cache files
*.pyc
*~
__pycache__/

# Virtual environment
venv/
myvenv/
env/

# Django database
db.sqlite3
db.sqlite3-journal

# Static and media files
/static/
/media/

# Environment variables
.env

# macOS system files
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows system files
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# PyCharm-specific files and folders
.idea/
*.iml

# Visual Studio Code
.vscode/
.history/
*.code-workspace
